APP_NAME="Sertifikat UKK"
APP_ENV=production
APP_KEY=        # jalankan: php artisan key:generate
APP_DEBUG=false
APP_URL=https://ukk.globalaccess.co.id
FRONTEND_URL=https://ukk.globalaccess.co.id

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=sertifikat_ukk
DB_USERNAME=sertifikat_user
DB_PASSWORD=sertifikat_pass

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
REDIS_CLIENT=predis

REDIS_HOST=redis
REDIS_PORT=6379

SANCTUM_STATEFUL_DOMAINS=ukk.globalaccess.co.id
SESSION_DOMAIN=ukk.globalaccess.co.id
